@charset "UTF-8";
/*
*Default ----------------------------------------------------------------
*/
/* line 3, ../sass/basic.scss */
body {
  font-family: "Roboto", "微軟正黑體", STHeiti, sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.4;
  letter-spacing: 0.085rem;
  color: #666;
}
@media screen and (max-width: 576px) {
  /* line 3, ../sass/basic.scss */
  body {
    font-size: 15px;
  }
}
/* line 13, ../sass/basic.scss */
body.no-scroll {
  overflow-y: hidden;
}

/* line 17, ../sass/basic.scss */
a {
  -webkit-transition: ease-in-out 0.35s;
  -moz-transition: ease-in-out 0.35s;
  -o-transition: ease-in-out 0.35s;
  transition: ease-in-out 0.35s;
}
/* line 19, ../sass/basic.scss */
a:hover, a:active {
  outline: none;
  text-decoration: none;
}

/* line 24, ../sass/basic.scss */
p {
  margin-bottom: 1.5rem;
}

/* line 28, ../sass/basic.scss */
h1, h2, h3, h4, h5, h6 {
  color: #666;
  font-family: "Roboto", "微軟正黑體", STHeiti, sans-serif;
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 700;
}

/* line 35, ../sass/basic.scss */
button, input, select, textarea {
  font-family: "Roboto", "微軟正黑體", STHeiti, sans-serif;
  -webkit-transition: ease-in-out 0.5s;
  -moz-transition: ease-in-out 0.5s;
  -o-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
}

/* line 39, ../sass/basic.scss */
select, textarea {
  width: 100%;
  border: 1px solid #ced4da;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  color: #231815;
  background-color: #fff;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
/* line 46, ../sass/basic.scss */
select.custom-select, textarea.custom-select {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
}
/* line 49, ../sass/basic.scss */
select:focus, select:hover, textarea:focus, textarea:hover {
  color: #488C37;
}

/* line 53, ../sass/basic.scss */
.select-wrapper {
  position: relative;
}
/* line 55, ../sass/basic.scss */
.select-wrapper .iconify {
  position: absolute;
  top: 12px;
  right: 15px;
  font-size: 1.5rem;
  color: #fff;
}
/* line 62, ../sass/basic.scss */
.select-wrapper .cus-select {
  width: 100%;
  padding: 10px 15px;
  font-size: 1.15rem;
  color: #fff !important;
  font-weight: bold;
  background-color: #488C37;
}

/* line 99, ../sass/basic.scss */
img {
  max-width: 100%;
  height: auto;
}

/* line 104, ../sass/basic.scss */
.custom-control .custom-control-label {
  cursor: pointer;
}
/* line 106, ../sass/basic.scss */
.custom-control .custom-control-label:before {
  background-color: #e9e9e9;
  border-color: #ced4da;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
}
/* line 111, ../sass/basic.scss */
.custom-control .custom-control-label:before, .custom-control .custom-control-label:after {
  top: 0.2rem;
}
/* line 117, ../sass/basic.scss */
.custom-control .custom-control-input:checked ~ .custom-control-label:before {
  background-color: #488C37;
  border-color: #488C37;
}
/* line 123, ../sass/basic.scss */
.custom-control .custom-control-description {
  padding-top: 3px;
}
/* line 127, ../sass/basic.scss */
.custom-control.custom-radio:not(:last-of-type) {
  margin-bottom: 8px;
}
/* line 130, ../sass/basic.scss */
.custom-control.custom-radio .custom-control-label {
  padding-left: 8px;
}
/* line 135, ../sass/basic.scss */
.custom-control.custom-radio .custom-control-input:checked ~ .custom-control-label:after {
  background: none;
}

/* line 142, ../sass/basic.scss */
::-webkit-selection {
  color: #231815;
  background: #F5E929;
}

/* line 146, ../sass/basic.scss */
::-moz-selection {
  color: #231815;
  background: #F5E929;
}

/* line 150, ../sass/basic.scss */
::selection {
  color: #231815;
  background: #F5E929;
}

/* line 3, ../sass/header.scss */
#header {
  position: relative;
  width: 100%;
  background-color: #F7F4EA;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 99;
}
/* line 10, ../sass/header.scss */
#header:before {
  content: '';
  display: block;
  width: 100%;
  height: 10px;
  background-image: url(../images/standard_line.svg);
  background-repeat: repeat-x;
  background-position: top center;
  z-index: -1;
}
/* line 20, ../sass/header.scss */
#header .navbar {
  padding: 0;
}
/* line 22, ../sass/header.scss */
#header .navbar ul {
  list-style: none;
}
/* line 25, ../sass/header.scss */
#header .navbar .logo {
  display: block;
}
/* line 27, ../sass/header.scss */
#header .navbar .logo a {
  display: block;
  padding: 8px 0;
}
/* line 30, ../sass/header.scss */
#header .navbar .logo a img {
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
  height: 40px;
}
/* line 38, ../sass/header.scss */
#header .navbar .navbar-nav li.sub-menu-parent {
  position: relative;
}
/* line 40, ../sass/header.scss */
#header .navbar .navbar-nav li.sub-menu-parent .sub-menu {
  display: none;
}
/* line 45, ../sass/header.scss */
#header .navbar .navbar-nav li.sp a {
  position: relative;
  display: block;
  text-align: center;
  color: #488C37;
}
/* line 50, ../sass/header.scss */
#header .navbar .navbar-nav li.sp a .iconify {
  position: relative;
  display: block;
  margin: 0 auto;
  font-size: 1.75rem;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
/* line 57, ../sass/header.scss */
#header .navbar .navbar-nav li.sp a span {
  display: block;
  padding-top: 3px;
  font-size: 0.8rem;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
/* line 63, ../sass/header.scss */
#header .navbar .navbar-nav li.sp a:hover, #header .navbar .navbar-nav li.sp a:active {
  opacity: 0.75;
}
/* line 72, ../sass/header.scss */
#header .navbar li.sp.icon-cart a {
  color: #D71718;
}
/* line 74, ../sass/header.scss */
#header .navbar li.sp.icon-cart a .amount {
  position: absolute;
  top: -6px;
  right: -15px;
  padding: 0;
  font-size: 0.75rem;
}
/* line 84, ../sass/header.scss */
#header .navbar .menu {
  display: none;
  padding: 0;
  z-index: 99;
  cursor: pointer;
}
/* line 89, ../sass/header.scss */
#header .navbar .menu .burger {
  position: relative;
  width: 30px;
  height: 40px;
  z-index: 1001;
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
/* line 96, ../sass/header.scss */
#header .navbar .menu .burger span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #488C37;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  -ms-border-radius: 9px;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
/* line 107, ../sass/header.scss */
#header .navbar .menu .burger span:nth-child(1) {
  top: 11px;
}
/* line 110, ../sass/header.scss */
#header .navbar .menu .burger span:nth-child(2) {
  top: 18px;
}
/* line 113, ../sass/header.scss */
#header .navbar .menu .burger span:nth-child(3) {
  top: 25px;
}
/* line 119, ../sass/header.scss */
#header .navbar .menu .active span {
  background: #D71718;
}
/* line 121, ../sass/header.scss */
#header .navbar .menu .active span:nth-child(1) {
  top: 18px;
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}
/* line 125, ../sass/header.scss */
#header .navbar .menu .active span:nth-child(2) {
  opacity: 0;
  left: -200px;
}
/* line 129, ../sass/header.scss */
#header .navbar .menu .active span:nth-child(3) {
  top: 18px;
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
/* line 137, ../sass/header.scss */
#header.fixed {
  position: fixed;
  top: 0;
}
/* line 142, ../sass/header.scss */
#header.fixed .navbar .logo a {
  padding: 4px 0;
}
/* line 144, ../sass/header.scss */
#header.fixed .navbar .logo a img {
  height: 36px;
}
/* line 150, ../sass/header.scss */
#header.fixed .navbar .navbar-nav li.sp {
  padding: 0 2rem;
}
/* line 153, ../sass/header.scss */
#header.fixed .navbar .navbar-nav li.sp a .iconify {
  margin-bottom: 0;
  font-size: 1.25rem;
}
/* line 157, ../sass/header.scss */
#header.fixed .navbar .navbar-nav li.sp a span:not(.amount) {
  display: none;
  font-size: 0.3rem;
  opacity: 0;
}
/* line 162, ../sass/header.scss */
#header.fixed .navbar .navbar-nav li.sp a span.amount {
  top: -10px;
  right: -20px;
  font-size: 0.85rem;
}
@media screen and (min-width: 992px) {
  /* line 175, ../sass/header.scss */
  #header .navbar .logo a img {
    height: 50px;
  }
  /* line 184, ../sass/header.scss */
  #header.fixed .navbar .logo a img {
    height: 40px;
  }
}
@media screen and (min-width: 768px) {
  /* line 195, ../sass/header.scss */
  #header .navbar .navbar-nav li.sp {
    padding: 0.25rem 0.8rem;
  }
  /* line 198, ../sass/header.scss */
  #header .navbar .navbar-nav li.sp a .iconify {
    display: inline-block;
    margin-bottom: 5px;
  }
  /* line 203, ../sass/header.scss */
  #header .navbar .navbar-nav li.sp:last-of-type {
    padding-right: 0;
  }
  /* line 207, ../sass/header.scss */
  #header .navbar .navbar-nav li.login {
    display: none;
  }
  /* line 211, ../sass/header.scss */
  #header .navbar .navbar {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  /* line 218, ../sass/header.scss */
  #header .navbar ul {
    position: relative;
    padding: 0;
    margin: 0;
  }
  /* line 223, ../sass/header.scss */
  #header .navbar .offcanvas-collapse {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 100%;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    visibility: hidden;
    background-color: rgba(96, 18, 4, 0.95);
    transition-timing-function: ease-in-out;
    transition-duration: .3s;
    transition-property: left, visibility;
  }
  /* line 237, ../sass/header.scss */
  #header .navbar .offcanvas-collapse.open {
    left: 0;
    visibility: visible;
    z-index: 999;
  }
  /* line 242, ../sass/header.scss */
  #header .navbar .offcanvas-collapse .navbar-nav {
    position: relative;
    padding: 2rem 0;
  }
  /* line 245, ../sass/header.scss */
  #header .navbar .offcanvas-collapse .navbar-nav li {
    width: 100%;
    line-height: 40px;
    border-bottom: 2px dashed rgba(255, 255, 255, 0.3);
  }
  /* line 249, ../sass/header.scss */
  #header .navbar .offcanvas-collapse .navbar-nav li.login {
    padding-bottom: 20px;
    text-align: center;
  }
  /* line 252, ../sass/header.scss */
  #header .navbar .offcanvas-collapse .navbar-nav li.login a {
    color: #e9e9e9;
    font-size: 0.95rem;
    border-bottom: 1px dotted rgba(233, 233, 233, 0.5);
  }
  /* line 256, ../sass/header.scss */
  #header .navbar .offcanvas-collapse .navbar-nav li.login a:hover, #header .navbar .offcanvas-collapse .navbar-nav li.login a:focus, #header .navbar .offcanvas-collapse .navbar-nav li.login a:active {
    letter-spacing: 0.1rem;
    color: #488C37;
    border-color: rgba(72, 140, 55, 0.5);
  }
  /* line 263, ../sass/header.scss */
  #header .navbar .offcanvas-collapse .navbar-nav li.sp {
    display: none;
  }
  /* line 266, ../sass/header.scss */
  #header .navbar .offcanvas-collapse .navbar-nav li a {
    font-size: 1.15rem;
    color: #fff;
    text-align: left;
  }
  /* line 270, ../sass/header.scss */
  #header .navbar .offcanvas-collapse .navbar-nav li a.nav-link {
    padding: 0.5rem 0.25rem;
    padding-right: 30px;
    font-weight: bolder;
    letter-spacing: 0.5rem;
  }
  /* line 278, ../sass/header.scss */
  #header .navbar .offcanvas-collapse .navbar-nav li:hover a.nav-link {
    color: #5bb145;
  }
  /* line 285, ../sass/header.scss */
  #header .navbar .offcanvas-collapse .navbar-nav li.sub-menu-parent {
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
  }
  /* line 287, ../sass/header.scss */
  #header .navbar .offcanvas-collapse .navbar-nav li.sub-menu-parent .iconify {
    position: absolute;
    top: 20px;
    right: 10px;
    color: #fff;
    font-size: 1.05rem;
    cursor: pointer;
  }
  /* line 295, ../sass/header.scss */
  #header .navbar .offcanvas-collapse .navbar-nav li.sub-menu-parent .sub-menu.active {
    position: relative;
    display: block;
    width: 100%;
    padding-top: 0;
    padding-bottom: 0;
    visibility: visible;
    opacity: 1;
    z-index: 1;
    background-color: transparent;
    border-color: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -moz-transform: translateY(0%);
    -o-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
  }
  /* line 310, ../sass/header.scss */
  #header .navbar .offcanvas-collapse .navbar-nav li.sub-menu-parent .sub-menu.active li {
    width: 100%;
    border: none;
  }
  /* line 313, ../sass/header.scss */
  #header .navbar .offcanvas-collapse .navbar-nav li.sub-menu-parent .sub-menu.active li a {
    display: block;
    padding: 0.75rem;
  }
  /* line 317, ../sass/header.scss */
  #header .navbar .offcanvas-collapse .navbar-nav li.sub-menu-parent .sub-menu.active li:hover {
    background-color: #488C37;
    border-color: transparent;
  }
  /* line 320, ../sass/header.scss */
  #header .navbar .offcanvas-collapse .navbar-nav li.sub-menu-parent .sub-menu.active li:hover a {
    color: #fff;
  }
  /* line 328, ../sass/header.scss */
  #header .navbar .offcanvas-collapse .navbar-nav li:first-of-type .nav-link {
    padding-top: 0;
  }
  /* line 335, ../sass/header.scss */
  #header .navbar .navbar {
    padding: 0;
  }
  /* line 337, ../sass/header.scss */
  #header .navbar .navbar li {
    display: inline-block;
    margin-right: 1.8rem;
  }
  /* line 341, ../sass/header.scss */
  #header .navbar .navbar li.sp a {
    position: relative;
    display: block;
    color: #488C37;
  }
  /* line 345, ../sass/header.scss */
  #header .navbar .navbar li.sp a .iconify {
    font-size: 1.5rem;
  }
  /* line 348, ../sass/header.scss */
  #header .navbar .navbar li.sp a .amount {
    position: absolute;
    top: -12px;
    right: -20px;
    padding: 0;
    font-size: 0.75rem;
  }
  /* line 356, ../sass/header.scss */
  #header .navbar .navbar li.sp:last-of-type {
    margin-right: 2rem;
  }
  /* line 362, ../sass/header.scss */
  #header .navbar .menu {
    display: block !important;
  }
  /* line 368, ../sass/header.scss */
  #header.fixed .navbar .navbar li.sp a .amount {
    top: 0;
  }
}
@media screen and (max-width: 767px) {
  /* line 376, ../sass/header.scss */
  #header .navbar {
    padding: 0.25rem 0.5rem;
  }
  /* line 380, ../sass/header.scss */
  #header .navbar .navbar ul li.icon-srh {
    display: none;
  }
}
@media screen and (max-width: 576px) {
  /* line 389, ../sass/header.scss */
  #header.fixed nav {
    padding: 0 15px;
  }
}

/* line 3, ../sass/button.scss */
.btn {
  padding: 7px 18px;
  font-size: 0.95rem;
  cursor: pointer;
  outline: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  text-decoration: none;
  text-align: center;
  -webkit-transition: ease-in-out 0.35s;
  -moz-transition: ease-in-out 0.35s;
  -o-transition: ease-in-out 0.35s;
  transition: ease-in-out 0.35s;
}
/* line 12, ../sass/button.scss */
.btn.btn-sm {
  width: auto;
  padding: 5px 15px;
}
/* line 16, ../sass/button.scss */
.btn:after {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
/* line 26, ../sass/button.scss */
.btn:hover {
  text-decoration: none;
  outline: none;
}

/* 主要：確認/執行鍵 */
/* line 32, ../sass/button.scss */
.btn-primary {
  background-color: #488C37;
  border-color: #488C37;
}
/* line 35, ../sass/button.scss */
.btn-primary:hover, .btn-primary:active {
  background-color: #D71718;
  border-color: #D71718;
}
/* line 39, ../sass/button.scss */
.btn-primary.disabled {
  background-color: #F6C3C7;
  border-color: #E03845;
  cursor: not-allowed;
  color: #601204;
}
/* line 44, ../sass/button.scss */
.btn-primary.disabled:hover, .btn-primary.disabled:active {
  background-color: #F6C3C7;
}

/* 次要：取消/返回鍵 */
/* line 50, ../sass/button.scss */
.btn-light {
  background-color: rgba(124, 124, 124, 0.05);
  border-color: #e9e9e9;
  color: #7C7C7C;
}
/* line 54, ../sass/button.scss */
.btn-light:hover, .btn-light:active {
  background-color: rgba(124, 124, 124, 0.1);
  border-color: rgba(124, 124, 124, 0.1);
  color: #231815;
}

/* 次要：選項/執行鍵 */
/* line 61, ../sass/button.scss */
.btn-outline {
  position: relative;
  background-color: #fff;
  border-color: #488C37;
  color: #488C37;
  border-width: 1px;
  overflow: hidden;
  -moz-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
/* line 69, ../sass/button.scss */
.btn-outline:after {
  bottom: auto;
  width: 100%;
  height: 0;
  border-radius: 0 0 50% 50% / 0 0 75% 75%;
  background-color: #488C37;
  -webkit-transition: height 0.5s ease-in-out;
  -moz-transition: height 0.5s ease-in-out;
  -o-transition: height 0.5s ease-in-out;
  transition: height 0.5s ease-in-out;
}
/* line 77, ../sass/button.scss */
.btn-outline:hover, .btn-outline:active {
  background-color: transparent;
  border-color: #488C37;
  color: #fff;
  -webkit-transition: color 0.5s ease-in-out;
  -moz-transition: color 0.5s ease-in-out;
  -o-transition: color 0.5s ease-in-out;
  transition: color 0.5s ease-in-out;
}
/* line 82, ../sass/button.scss */
.btn-outline:hover:after, .btn-outline:active:after {
  height: 350%;
  -webkit-transition: height 0.5s ease-in-out;
  -moz-transition: height 0.5s ease-in-out;
  -o-transition: height 0.5s ease-in-out;
  transition: height 0.5s ease-in-out;
}

/* line 88, ../sass/button.scss */
.btn-fb {
  background-color: #3b5998;
  color: #fff !important;
}
/* line 91, ../sass/button.scss */
.btn-fb:hover {
  background-color: #2C52A5;
}

/* line 4, ../sass/content.scss */
#page {
  width: 100%;
  overflow-x: hidden;
}

@media screen and (min-width: 1400px) {
  /* line 9, ../sass/content.scss */
  .container.container-lg {
    max-width: 1370px;
  }
}

/* line 15, ../sass/content.scss */
.overlay {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 333;
}

/* line 26, ../sass/content.scss */
#sidebar {
  position: fixed;
  top: 0;
  right: -250px;
  width: 250px;
  height: 100vh;
  padding: 0.75rem;
  background: #fff;
  overflow-y: auto;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
  z-index: 999;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 38, ../sass/content.scss */
#sidebar.active {
  right: 0;
}
/* line 41, ../sass/content.scss */
#sidebar #dismiss {
  position: absolute;
  top: 10px;
  right: 15px;
  color: #999;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 48, ../sass/content.scss */
#sidebar #dismiss .iconify {
  font-size: 1.5rem;
}
/* line 51, ../sass/content.scss */
#sidebar #dismiss:hover {
  color: #D71718;
}
/* line 55, ../sass/content.scss */
#sidebar .sidebar-header {
  padding: 25px 5px 15px;
  border-bottom: 1px solid rgba(124, 124, 124, 0.5);
}
/* line 58, ../sass/content.scss */
#sidebar .sidebar-header h4 {
  margin-bottom: 0;
}
/* line 62, ../sass/content.scss */
#sidebar .cart-row {
  display: inline-block;
  width: 100%;
  padding: 15px 0;
  margin-bottom: 8px;
  border-bottom: 1px solid rgba(124, 124, 124, 0.5);
}
/* line 68, ../sass/content.scss */
#sidebar .cart-row li {
  display: block;
  list-style: none;
  float: left;
}
/* line 72, ../sass/content.scss */
#sidebar .cart-row li.cart-item {
  width: auto;
}
/* line 74, ../sass/content.scss */
#sidebar .cart-row li.cart-item .pro-img {
  display: block;
  width: 50px;
  overflow: hidden;
  background-position: center center;
  background-size: cover;
  cursor: pointer;
}
/* line 81, ../sass/content.scss */
#sidebar .cart-row li.cart-item .pro-img:before {
  display: block;
  content: "";
  padding-bottom: 75%;
}
/* line 88, ../sass/content.scss */
#sidebar .cart-row li.description {
  width: 60%;
  padding-left: 10px;
}
/* line 91, ../sass/content.scss */
#sidebar .cart-row li.description .name {
  font-size: 15px;
}
/* line 95, ../sass/content.scss */
#sidebar .cart-row li.description .amount:after {
  display: inline-block;
  content: "x";
  padding: 0 0.25rem;
  opacity: 0.8;
}
/* line 103, ../sass/content.scss */
#sidebar .cart-row li.description .hp-txt .hint {
  color: #D71718;
}
/* line 105, ../sass/content.scss */
#sidebar .cart-row li.description .hp-txt .hint:before {
  display: inline-block;
  content: "*";
}
/* line 110, ../sass/content.scss */
#sidebar .cart-row li.description .hp-txt .price {
  font-weight: normal;
  font-size: 1rem;
}
/* line 116, ../sass/content.scss */
#sidebar .cart-row li.del {
  width: 10%;
  float: right;
  color: rgba(124, 124, 124, 0.5);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 121, ../sass/content.scss */
#sidebar .cart-row li.del .iconify {
  font-size: 1rem;
  cursor: pointer;
}
/* line 125, ../sass/content.scss */
#sidebar .cart-row li.del:hover, #sidebar .cart-row li.del:active {
  color: rgba(124, 124, 124, 0.8);
}
/* line 131, ../sass/content.scss */
#sidebar .hint-check {
  margin-bottom: 15px;
  text-align: center;
  line-height: 1.6;
}
/* line 135, ../sass/content.scss */
#sidebar .hint-check .pieces {
  padding: 0 0.25rem;
}
/* line 137, ../sass/content.scss */
#sidebar .hint-check .pieces:after {
  display: inline-block;
  content: "件";
  padding-left: 0.15rem;
  opacity: 0.8;
  font-size: 0.9rem;
}

/* line 147, ../sass/content.scss */
.title {
  font-weight: bold;
  letter-spacing: 0.15rem;
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}
/* line 161, ../sass/content.scss */
.img {
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
/* line 166, ../sass/content.scss */
.img:before {
  content: "";
  display: block;
  padding-bottom: 75%;
}

/* line 172, ../sass/content.scss */
#main {
  position: relative;
  background: url(../images/bg/category_bg.jpg) no-repeat 0 0 fixed;
  background-size: cover;
  z-index: 1;
}
/* line 177, ../sass/content.scss */
#main:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0.65;
  z-index: -1;
}
/* line 188, ../sass/content.scss */
#main section {
  position: relative;
  padding-bottom: 80px;
}
@media screen and (max-width: 768px) {
  /* line 188, ../sass/content.scss */
  #main section {
    padding-bottom: 50px;
  }
}
/* line 195, ../sass/content.scss */
#main .breadcrumb {
  padding: 50px 0 30px;
  margin: 0;
  background: transparent;
}
/* line 200, ../sass/content.scss */
#main .breadcrumb li:before {
  padding-right: 0.15rem;
  color: #FECD5D !important;
}
/* line 204, ../sass/content.scss */
#main .breadcrumb li a {
  color: #7C7C7C;
  font-size: 0.85rem;
}
/* line 209, ../sass/content.scss */
#main .breadcrumb li.active a {
  color: #231815;
}
@media screen and (max-width: 767px) {
  /* line 195, ../sass/content.scss */
  #main .breadcrumb {
    padding: 30px 0;
  }
}
/* line 218, ../sass/content.scss */
#main .br-pattern {
  position: relative;
  margin-bottom: 30px;
  text-align: center;
}
/* line 222, ../sass/content.scss */
#main .br-pattern:before, #main .br-pattern:after {
  content: '';
  display: block;
  width: 100%;
  height: 10px;
  background-image: url(../images/tri_br.svg);
  background-repeat: repeat-x;
  background-position: top center;
  z-index: -1;
}
/* line 232, ../sass/content.scss */
#main .br-pattern:after {
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
/* line 235, ../sass/content.scss */
#main .br-pattern .title {
  margin: 10px 0;
  color: #601204;
}
/* line 240, ../sass/content.scss */
#main .more {
  color: #488C37;
  font-size: 0.85rem;
  border-bottom: 1px solid #488C37;
}
/* line 244, ../sass/content.scss */
#main .more .iconify {
  margin-left: 5px;
}
/* line 248, ../sass/content.scss */
#main .red {
  color: #D71718;
}
/* line 251, ../sass/content.scss */
#main .main-bg {
  position: relative;
  background-color: #488C37;
}
/* line 255, ../sass/content.scss */
#main .gray-bg {
  position: relative;
  background-color: #F9F9F9;
}
/* line 259, ../sass/content.scss */
#main .icon-t {
  display: inline-block;
  margin-top: 2px;
}
/* line 263, ../sass/content.scss */
#main .slide {
  text-align: center;
}
/* line 266, ../sass/content.scss */
#main .slick-prev {
  left: -5px;
}
/* line 269, ../sass/content.scss */
#main .slick-next {
  right: -5px;
}
/* line 272, ../sass/content.scss */
#main .pagination {
  margin-top: 1.5rem;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
}
/* line 275, ../sass/content.scss */
#main .pagination li {
  counter-increment: pagination;
}
/* line 277, ../sass/content.scss */
#main .pagination li a {
  position: relative;
  color: #FECD5D;
  background-color: transparent;
  border: none;
  font-size: 15px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
}
/* line 284, ../sass/content.scss */
#main .pagination li a:after {
  content: "";
  display: block;
  border-bottom: solid 2px;
  -moz-transform: scaleX(0);
  -o-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: transform 250ms ease-in-out;
  -moz-transition: transform 250ms ease-in-out;
  -o-transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
}
/* line 291, ../sass/content.scss */
#main .pagination li a.rotate {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
/* line 296, ../sass/content.scss */
#main .pagination li:hover a, #main .pagination li:active a {
  color: #E03845;
}
/* line 298, ../sass/content.scss */
#main .pagination li:hover a:after, #main .pagination li:active a:after {
  -moz-transform: scaleX(1);
  -o-transform: scaleX(1);
  -ms-transform: scaleX(1);
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -moz-transform: transform-origin(0%, 50%);
  -o-transform: transform-origin(0%, 50%);
  -ms-transform: transform-origin(0%, 50%);
  -webkit-transform: transform-origin(0%, 50%);
  transform: transform-origin(0%, 50%);
}
/* line 305, ../sass/content.scss */
#main .pagination li.active a {
  color: #862229;
  font-weight: bold;
}
/* line 311, ../sass/content.scss */
#main .pagination li:first-child a, #main .pagination li:last-child a {
  display: inline-block;
}
/* line 315, ../sass/content.scss */
#main .pagination li:nth-child(2) {
  counter-reset: pagination;
}
/* line 318, ../sass/content.scss */
#main .pagination li:nth-last-child(2) {
  display: inline-block;
}
/* line 320, ../sass/content.scss */
#main .pagination li:nth-last-child(2):after {
  padding: 0 1rem;
  content: "...";
  color: #FECD5D;
}
/* line 325, ../sass/content.scss */
#main .pagination li:nth-last-child(2) a {
  display: inline-block;
}
/* line 331, ../sass/content.scss */
#main .italic {
  font-style: italic;
}

/* line 335, ../sass/content.scss */
#mob-srh {
  position: fixed;
  width: 100%;
  height: auto;
  left: 0;
  z-index: 888;
  -webkit-box-shadow: rgba(51, 51, 51, 0.25) 0 -1px 5px;
  box-shadow: rgba(51, 51, 51, 0.25) 0 -1px 5px;
  background-color: #fff;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
/* line 345, ../sass/content.scss */
#mob-srh .srh-row {
  position: relative;
  display: inline-block;
}
/* line 348, ../sass/content.scss */
#mob-srh .srh-row li {
  display: block;
  list-style: none;
}
/* line 351, ../sass/content.scss */
#mob-srh .srh-row li .input-group {
  margin-bottom: 15px;
}
/* line 353, ../sass/content.scss */
#mob-srh .srh-row li .input-group .form-control {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
}
/* line 357, ../sass/content.scss */
#mob-srh .srh-row li.close {
  position: absolute;
  cursor: pointer;
  color: #999;
}
/* line 362, ../sass/content.scss */
#mob-srh .srh-row li .keyword {
  padding: 0;
  margin-bottom: 5px;
}
/* line 365, ../sass/content.scss */
#mob-srh .srh-row li .keyword li {
  display: inline-block;
  width: auto;
  padding: 0 5px;
  margin-bottom: 5px;
}
/* line 370, ../sass/content.scss */
#mob-srh .srh-row li .keyword li a {
  color: #D71718;
}
/* line 373, ../sass/content.scss */
#mob-srh .srh-row li .keyword li:first-of-type {
  padding: 0;
}
@media (min-width: 768px) {
  /* line 335, ../sass/content.scss */
  #mob-srh {
    top: -100%;
  }
  /* line 382, ../sass/content.scss */
  #mob-srh .srh-row {
    padding: 20px 0 0;
  }
  /* line 385, ../sass/content.scss */
  #mob-srh .srh-row li .input-group {
    width: 100%;
  }
  /* line 387, ../sass/content.scss */
  #mob-srh .srh-row li .input-group .btn-primary {
    min-width: 100px;
  }
  /* line 390, ../sass/content.scss */
  #mob-srh .srh-row li .input-group #srh-close {
    min-width: auto;
    margin-left: 15px;
  }
  /* line 395, ../sass/content.scss */
  #mob-srh .srh-row li.close {
    display: none;
  }
  /* line 400, ../sass/content.scss */
  #mob-srh.active {
    top: 0;
  }
}
@media (min-width: 1200px) {
  /* line 407, ../sass/content.scss */
  #mob-srh .srh-row li.submit {
    text-align: right;
  }
  /* line 409, ../sass/content.scss */
  #mob-srh .srh-row li.submit input[type="submit"] {
    width: 25%;
  }
}
@media (max-width: 767px) {
  /* line 335, ../sass/content.scss */
  #mob-srh {
    bottom: -100%;
  }
  /* line 418, ../sass/content.scss */
  #mob-srh .container {
    padding: 0;
  }
  /* line 421, ../sass/content.scss */
  #mob-srh .srh-row {
    padding: 30px 15px 0;
  }
  /* line 425, ../sass/content.scss */
  #mob-srh .srh-row li .input-group .btn-light {
    display: none;
  }
  /* line 429, ../sass/content.scss */
  #mob-srh .srh-row li.close {
    top: 0;
    right: 3px;
  }
  /* line 435, ../sass/content.scss */
  #mob-srh.active {
    bottom: 0;
  }
}

/* line 440, ../sass/content.scss */
.gotosrh {
  right: 10px;
  bottom: 100px;
}
/* line 443, ../sass/content.scss */
.gotosrh a {
  color: #488C37;
}
@media screen and (min-width: 768px) {
  /* line 440, ../sass/content.scss */
  .gotosrh {
    display: none;
  }
}
@media screen and (max-width: 576px) {
  /* line 440, ../sass/content.scss */
  .gotosrh {
    bottom: 70px;
  }
}

/* line 453, ../sass/content.scss */
.gototop {
  right: 12px;
  bottom: 50px;
  opacity: 0;
  visibility: hidden;
}
/* line 458, ../sass/content.scss */
.gototop a {
  opacity: 0.65;
  color: #488C37;
}
/* line 463, ../sass/content.scss */
.gototop:hover a, .gototop:active a {
  opacity: 1;
}
/* line 467, ../sass/content.scss */
.gototop.active {
  opacity: 1;
  visibility: visible;
  cursor: default;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
@media screen and (max-width: 576px) {
  /* line 453, ../sass/content.scss */
  .gototop {
    bottom: 15px;
  }
}

/* line 477, ../sass/content.scss */
.gotosrh, .gototop {
  position: fixed;
  z-index: 89;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
/* line 482, ../sass/content.scss */
.gotosrh a, .gototop a {
  display: block;
  text-align: center;
  outline: none;
  text-decoration: none;
}
/* line 487, ../sass/content.scss */
.gotosrh a .iconify, .gototop a .iconify {
  position: relative;
  display: block;
  margin: 0 auto;
  margin-bottom: 2px;
  font-size: 2rem;
}
/* line 494, ../sass/content.scss */
.gotosrh a span, .gototop a span {
  display: block;
  font-size: 0.8rem;
}
/* line 500, ../sass/content.scss */
.gotosrh:hover a, .gotosrh:active a, .gototop:hover a, .gototop:active a {
  opacity: 1;
  text-decoration: none;
}
@media screen and (max-width: 576px) {
  /* line 477, ../sass/content.scss */
  .gotosrh, .gototop {
    right: 12px;
  }
  /* line 508, ../sass/content.scss */
  .gotosrh a .iconify, .gototop a .iconify {
    font-size: 1.5rem;
  }
}

/* line 514, ../sass/content.scss */
.price {
  position: relative;
  font-weight: bold;
  font-family: "Noto Serif TC", serif;
  color: #862229;
  letter-spacing: 0;
}
/* line 520, ../sass/content.scss */
.price:before {
  display: inline-block;
  content: "$";
  padding-right: 2px;
  font-size: 14px;
}
/* line 527, ../sass/content.scss */
.price.discount:before {
  content: "- $";
}

/* line 532, ../sass/content.scss */
.hp-txt {
  font-size: 0.85rem;
  color: #7C7C7C;
}

/* line 536, ../sass/content.scss */
.slick-prev, .slick-next {
  width: 50px;
  height: 50px;
  z-index: 59;
}
/* line 540, ../sass/content.scss */
.slick-prev:before, .slick-next:before {
  color: #FECD5D;
}

@media screen and (max-width: 576px) {
  /* line 544, ../sass/content.scss */
  .text-xs-ctn {
    text-align: center;
  }
}

/* line 549, ../sass/content.scss */
.blank {
  padding-left: 1rem;
}
@media screen and (max-width: 576px) {
  /* line 549, ../sass/content.scss */
  .blank {
    display: block;
  }
}

/* line 3, ../sass/step.scss */
.checkout-nav {
  position: relative;
  padding: 50px 0 20px;
  text-align: center;
}
/* line 7, ../sass/step.scss */
.checkout-nav .step {
  display: inline-block;
  vertical-align: top;
  width: 200px;
  max-width: 33%;
  margin-left: -2px;
  margin-right: -2px;
}
/* line 14, ../sass/step.scss */
.checkout-nav .step span {
  display: block;
  padding: 0 5px;
}
/* line 17, ../sass/step.scss */
.checkout-nav .step span.name {
  font-size: 14px;
  color: #7C7C7C;
}
/* line 22, ../sass/step.scss */
.checkout-nav .step .badge {
  position: relative;
  height: 50px;
  line-height: 50px;
  padding: 0;
  background-color: transparent;
}
/* line 28, ../sass/step.scss */
.checkout-nav .step .badge:before {
  content: " ";
  background-color: #CBCBCB;
  height: 2px;
  width: 101%;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -1px;
  z-index: 0;
}
/* line 39, ../sass/step.scss */
.checkout-nav .step .badge:after {
  position: absolute;
  content: " ";
  top: 50%;
  left: 50%;
  width: 30px;
  height: 30px;
  background-color: #CBCBCB;
  z-index: 0;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  border-radius: 15px;
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
/* line 51, ../sass/step.scss */
.checkout-nav .step .badge .text {
  position: absolute;
  width: 100%;
  color: #fff;
  z-index: 1;
}
/* line 60, ../sass/step.scss */
.checkout-nav .step:first-child .badge:before {
  width: 51%;
  left: 50%;
}
/* line 68, ../sass/step.scss */
.checkout-nav .step:last-child .badge:before {
  width: 50%;
  right: 50%;
}
/* line 75, ../sass/step.scss */
.checkout-nav .step.active .name {
  color: #FECD5D;
}
/* line 79, ../sass/step.scss */
.checkout-nav .step.active .badge:before, .checkout-nav .step.active .badge:after {
  background-color: #FECD5D;
}
/* line 82, ../sass/step.scss */
.checkout-nav .step.active .badge .text {
  color: #fff;
}
@media screen and (max-width: 767px) {
  /* line 3, ../sass/step.scss */
  .checkout-nav {
    padding: 20px 0;
  }
}

/* line 4, ../sass/cart-list.scss */
#deli-pay .card {
  margin-bottom: 30px;
  border-color: #862229;
}
/* line 7, ../sass/cart-list.scss */
#deli-pay .card .card-header {
  border-color: #862229;
  background-color: #ffecc2;
  color: #601204;
}
/* line 12, ../sass/cart-list.scss */
#deli-pay .card .card-body {
  padding-top: 0.5rem;
}

/* line 17, ../sass/cart-list.scss */
#total-block {
  position: relative;
  -webkit-transition: ease-in-out 0.35s;
  -moz-transition: ease-in-out 0.35s;
  -o-transition: ease-in-out 0.35s;
  transition: ease-in-out 0.35s;
}
/* line 20, ../sass/cart-list.scss */
#total-block .total-block {
  padding: 15px;
  margin-bottom: 30px;
  line-height: 140%;
  background-color: #fdeff0;
  border: 2px solid #D71718;
}
/* line 26, ../sass/cart-list.scss */
#total-block .total-block .form-group.sp-money {
  padding: 10px 0 0;
}
/* line 28, ../sass/cart-list.scss */
#total-block .total-block .form-group.sp-money .hp-txt span {
  font-weight: bold;
}
/* line 32, ../sass/cart-list.scss */
#total-block .total-block ul {
  padding: 0;
  margin-bottom: 0;
  list-style: none;
}
/* line 36, ../sass/cart-list.scss */
#total-block .total-block ul li {
  display: inline-block;
  width: 100%;
}
/* line 39, ../sass/cart-list.scss */
#total-block .total-block ul li > span {
  display: block;
  width: 50%;
  float: left;
  text-align: right;
}
/* line 44, ../sass/cart-list.scss */
#total-block .total-block ul li > span.title {
  line-height: 1.4;
  font-size: 0.95rem;
}
/* line 48, ../sass/cart-list.scss */
#total-block .total-block ul li > span.price:not(.red) {
  font-size: 1rem;
  color: #601204;
}
/* line 52, ../sass/cart-list.scss */
#total-block .total-block ul li > span.total {
  font-weight: bold;
}
/* line 55, ../sass/cart-list.scss */
#total-block .total-block ul li > span.red {
  font-size: 1.35rem;
}
/* line 62, ../sass/cart-list.scss */
#total-block.fixed {
  position: fixed;
  bottom: 0;
}
@media screen and (min-width: 992px) {
  /* line 70, ../sass/cart-list.scss */
  #total-block .total-block ul.act-btns li a.btn {
    width: 100%;
  }
  /* line 74, ../sass/cart-list.scss */
  #total-block .total-block ul.act-btns li:first-of-type a.btn {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 991px) {
  /* line 84, ../sass/cart-list.scss */
  #total-block .total-block .act-btns {
    display: inline-block;
    width: 100%;
  }
  /* line 87, ../sass/cart-list.scss */
  #total-block .total-block .act-btns li {
    display: block;
    float: left;
  }
  /* line 90, ../sass/cart-list.scss */
  #total-block .total-block .act-btns li a {
    display: block;
    width: 95%;
    margin: 0;
  }
  /* line 95, ../sass/cart-list.scss */
  #total-block .total-block .act-btns li:first-of-type {
    width: 30%;
    margin: 0;
  }
  /* line 99, ../sass/cart-list.scss */
  #total-block .total-block .act-btns li:last-of-type {
    width: 70%;
  }
  /* line 101, ../sass/cart-list.scss */
  #total-block .total-block .act-btns li:last-of-type a {
    margin-left: auto;
  }
}

/* line 112, ../sass/cart-list.scss */
#cart-list .cart-title {
  padding-bottom: 8px;
  font-size: 0.95rem;
}
@media (max-width: 1024px) {
  /* line 117, ../sass/cart-list.scss */
  #cart-list .cart-title .col-md-1 span {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  /* line 112, ../sass/cart-list.scss */
  #cart-list .cart-title {
    display: none;
  }
}
/* line 127, ../sass/cart-list.scss */
#cart-list .cart-content > .row {
  padding: 15px 0;
  border-bottom: 1px solid #ddd;
}
/* line 130, ../sass/cart-list.scss */
#cart-list .cart-content > .row:first-of-type {
  border-top: 1px solid #ddd;
}
/* line 133, ../sass/cart-list.scss */
#cart-list .cart-content > .row:not(#cart-list .cart-content > .row:last-of-type) {
  border-bottom: none;
}
/* line 137, ../sass/cart-list.scss */
#cart-list .cart-content .pro-img {
  width: 64px;
  float: left;
  overflow: hidden;
}
/* line 142, ../sass/cart-list.scss */
#cart-list .cart-content .pro-title {
  padding: 0;
  margin-left: 75px;
  margin-bottom: 5px;
  cursor: pointer;
}
/* line 147, ../sass/cart-list.scss */
#cart-list .cart-content .pro-title li {
  display: block;
  list-style: none;
  word-wrap: break-word;
  font-size: 0.9rem;
}
/* line 152, ../sass/cart-list.scss */
#cart-list .cart-content .pro-title li.name {
  font-size: 1rem;
  color: #231815;
}
/* line 156, ../sass/cart-list.scss */
#cart-list .cart-content .pro-title li .hint {
  color: #E03845;
}
/* line 158, ../sass/cart-list.scss */
#cart-list .cart-content .pro-title li .hint:before {
  display: inline-block;
  content: "*";
}
/* line 166, ../sass/cart-list.scss */
#cart-list .cart-content .pro-qua .btn {
  padding: 5px 8px;
  font-size: 13px;
  background-color: #FECD5D;
  border: none;
}
/* line 173, ../sass/cart-list.scss */
#cart-list .cart-content .price, #cart-list .cart-content .iconify {
  font-size: 1rem;
  color: #7C7C7C;
}
/* line 177, ../sass/cart-list.scss */
#cart-list .cart-content .remove {
  display: block;
  cursor: pointer;
}
/* line 180, ../sass/cart-list.scss */
#cart-list .cart-content .remove .iconify {
  color: rgba(124, 124, 124, 0.5);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 183, ../sass/cart-list.scss */
#cart-list .cart-content .remove .iconify:hover, #cart-list .cart-content .remove .iconify:active {
  color: rgba(124, 124, 124, 0.8);
}
/* line 188, ../sass/cart-list.scss */
#cart-list .cart-content .ps-text {
  margin: 10px 0;
}
/* line 190, ../sass/cart-list.scss */
#cart-list .cart-content .ps-text a {
  color: #488C37;
  border-bottom: 1px dotted #488C37;
  font-size: 0.9rem;
}
@media (min-width: 768px) {
  /* line 198, ../sass/cart-list.scss */
  #cart-list .cart-content .pro-qua {
    text-align: center;
  }
  /* line 202, ../sass/cart-list.scss */
  #cart-list .cart-content .sub-total .amount {
    display: none;
  }
}
@media (max-width: 767px) {
  /* line 209, ../sass/cart-list.scss */
  #cart-list .cart-content > .row:first-child {
    padding-top: 0;
    border-top: none;
  }
  /* line 214, ../sass/cart-list.scss */
  #cart-list .cart-content .pro-qua {
    margin-top: 15px;
  }
  /* line 218, ../sass/cart-list.scss */
  #cart-list .cart-content .sub-total .amount {
    display: block;
  }
  /* line 222, ../sass/cart-list.scss */
  #cart-list .cart-content .sub-total .price:before {
    display: inline-block;
    content: "小計 $";
  }
  /* line 229, ../sass/cart-list.scss */
  #cart-list .cart-content .remove:after {
    display: inline-block;
    content: "移除";
    font-size: 13px;
    color: rgba(124, 124, 124, 0.5);
  }
}
@media screen and (max-width: 320px) {
  /* line 238, ../sass/cart-list.scss */
  #cart-list .cart-content .pro-img {
    width: 50px;
    height: 50px;
  }
  /* line 242, ../sass/cart-list.scss */
  #cart-list .cart-content .pro-title {
    margin-left: 64px;
  }
}
/* line 247, ../sass/cart-list.scss */
#cart-list .price {
  font-weight: normal;
  color: #231815;
}
/* line 250, ../sass/cart-list.scss */
#cart-list .price.red {
  font-weight: bold;
}

/* line 4, ../sass/auform.scss */
.au-form input, .au-form select {
  padding: 5px 12px;
}
/* line 7, ../sass/auform.scss */
.au-form input {
  width: 100%;
  height: calc(2.25rem + 2px);
  border: 1px solid #ced4da;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  color: #231815;
  background-color: #fff;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
/* line 15, ../sass/auform.scss */
.au-form input:focus, .au-form input:hover {
  color: #488C37;
}
/* line 19, ../sass/auform.scss */
.au-form textarea {
  height: 180px;
  padding: 10px 12px;
  resize: none;
}
/* line 24, ../sass/auform.scss */
.au-form .help-block {
  display: block !important;
  margin: 0;
}
/* line 27, ../sass/auform.scss */
.au-form .help-block ul {
  margin-top: 5px;
  margin-bottom: 0;
}
/* line 30, ../sass/auform.scss */
.au-form .help-block ul li {
  font-size: 13px;
  line-height: 1.2;
  color: #D71718;
}

/* line 15, ../sass/cart.scss */
#header .navbar .navbar-nav li.sp.icon-cart {
  display: none;
}

@media screen and (max-width: 991px) {
  /* line 22, ../sass/cart.scss */
  #main section {
    padding-bottom: 50px;
  }
}
/* line 27, ../sass/cart.scss */
#main .card {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
}
/* line 29, ../sass/cart.scss */
#main .card .card-header {
  font-size: 1.125rem;
  font-weight: bold;
}

/* line 37, ../sass/cart.scss */
#deli-pay .au-form label, #delivery-form .au-form label {
  font-size: 0.9rem;
  font-weight: bold;
  color: #7C7C7C;
}
/* line 43, ../sass/cart.scss */
#deli-pay .form-group, #delivery-form .form-group {
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
/* line 46, ../sass/cart.scss */
#deli-pay .form-group:focus label, #deli-pay .form-group:hover label, #delivery-form .form-group:focus label, #delivery-form .form-group:hover label {
  color: #488C37;
}
/* line 49, ../sass/cart.scss */
#deli-pay .form-group:focus input, #deli-pay .form-group:focus select, #deli-pay .form-group:focus textarea, #deli-pay .form-group:hover input, #deli-pay .form-group:hover select, #deli-pay .form-group:hover textarea, #delivery-form .form-group:focus input, #delivery-form .form-group:focus select, #delivery-form .form-group:focus textarea, #delivery-form .form-group:hover input, #delivery-form .form-group:hover select, #delivery-form .form-group:hover textarea {
  border-color: #488C37;
}

/* checkout */
/* line 56, ../sass/cart.scss */
#check-cart {
  margin-bottom: 1.5rem;
}
/* line 58, ../sass/cart.scss */
#check-cart #total-block .total-block {
  background-color: #fff9ed;
  border: 2px solid #FECD5D;
}
/* line 62, ../sass/cart.scss */
#check-cart .card-header {
  cursor: pointer;
}
/* line 64, ../sass/cart.scss */
#check-cart .card-header h6, #check-cart .card-header p {
  margin-bottom: 0;
  text-align: center;
}
/* line 68, ../sass/cart.scss */
#check-cart .card-header h6 {
  margin-bottom: 15px;
}
@media screen and (max-width: 576px) {
  /* line 68, ../sass/cart.scss */
  #check-cart .card-header h6 {
    margin-bottom: 8px;
  }
}
/* line 75, ../sass/cart.scss */
#check-cart .card-header p .pieces {
  padding: 0 0.25rem;
}
/* line 77, ../sass/cart.scss */
#check-cart .card-header p .pieces:after {
  display: inline-block;
  content: "件";
  padding-left: 0.15rem;
  opacity: 0.8;
  font-size: 0.9rem;
}
/* line 87, ../sass/cart.scss */
#check-cart .card-body {
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}
/* line 89, ../sass/cart.scss */
#check-cart .card-body .pro-title {
  cursor: auto;
}
/* line 93, ../sass/cart.scss */
#check-cart .card-body .sub-total .amount {
  margin-bottom: 8px;
}
/* line 95, ../sass/cart.scss */
#check-cart .card-body .sub-total .amount:before {
  display: inline-block;
  content: "x";
  padding: 0 0.25rem;
  opacity: 0.8;
}
/* line 103, ../sass/cart.scss */
#check-cart .card-body .total-block {
  line-height: 120%;
}
/* line 105, ../sass/cart.scss */
#check-cart .card-body .total-block ul {
  margin-bottom: 0;
}
/* line 109, ../sass/cart.scss */
#check-cart .card-body .total-block ul li span.title {
  line-height: 1.5;
}
/* line 112, ../sass/cart.scss */
#check-cart .card-body .total-block ul li span.red {
  font-size: 1rem;
}
/* line 120, ../sass/cart.scss */
#check-cart .iconify {
  margin-left: 10px;
}

/* line 125, ../sass/cart.scss */
#delivery-form .card {
  margin-bottom: 1.5rem;
}
/* line 127, ../sass/cart.scss */
#delivery-form .card .card-header {
  color: #7C7C7C;
}
/* line 131, ../sass/cart.scss */
#delivery-form .card:first-of-type .card-body .form-group .control-label {
  margin-right: 15px;
}
/* line 135, ../sass/cart.scss */
#delivery-form .card:first-of-type .card-body .form-group .control-label, #delivery-form .card:first-of-type .card-body .form-group .custom-control-inline {
  margin-bottom: 0;
}
/* line 137, ../sass/cart.scss */
#delivery-form .card:first-of-type .card-body .form-group .control-label .custom-control-label, #delivery-form .card:first-of-type .card-body .form-group .custom-control-inline .custom-control-label {
  padding-left: 0;
}
/* line 144, ../sass/cart.scss */
#delivery-form div.card:not(:last-of-type) {
  margin-bottom: 0;
}
/* line 147, ../sass/cart.scss */
#delivery-form #act-btns {
  margin-top: 30px;
}
/* line 150, ../sass/cart.scss */
#delivery-form .more {
  border-bottom: 1px dotted #488C37;
}

/* line 3, ../sass/act-btns.scss */
.act-btns {
  padding: 0;
  margin: 0;
}
/* line 6, ../sass/act-btns.scss */
.act-btns li {
  display: inline-block;
  list-style: none;
}
/* line 9, ../sass/act-btns.scss */
.act-btns li:first-of-type {
  margin-right: 15px;
}

/* line 155, ../sass/cart.scss */
.form-group {
  padding: 10px 0;
  margin-bottom: 0;
}
/* line 158, ../sass/cart.scss */
.form-group .form-control {
  background-color: #fff;
}
/* line 162, ../sass/cart.scss */
.form-group.sp-money .hp-txt .price {
  color: #666;
}

/* line 167, ../sass/cart.scss */
#mob-buy {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: #fff;
  z-index: 90;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-box-shadow: rgba(51, 51, 51, 0.25) 0 -1px 5px;
  box-shadow: rgba(51, 51, 51, 0.25) 0 -1px 5px;
}
/* line 177, ../sass/cart.scss */
#mob-buy .form-group {
  padding: 10px 0 0;
}
/* line 180, ../sass/cart.scss */
#mob-buy .form-group.sp-money input {
  height: calc(2.25rem - 2px);
  font-size: 15px;
}
/* line 184, ../sass/cart.scss */
#mob-buy .form-group.sp-money .hp-txt {
  padding-top: 2px;
  margin-bottom: 0;
  font-size: 14px;
}
/* line 191, ../sass/cart.scss */
#mob-buy #detail {
  display: block;
  margin: 5px 0 12px;
}
/* line 194, ../sass/cart.scss */
#mob-buy #detail .total-header {
  text-align: left;
  cursor: pointer;
}
/* line 197, ../sass/cart.scss */
#mob-buy #detail .total-header .total {
  display: inline-block;
  width: calc(100% - 125px);
}
/* line 200, ../sass/cart.scss */
#mob-buy #detail .total-header .total .price {
  font-size: 20px;
}
/* line 204, ../sass/cart.scss */
#mob-buy #detail .total-header .check {
  width: 115px;
  display: inline-block;
  text-align: right;
  font-size: 14px;
}
/* line 209, ../sass/cart.scss */
#mob-buy #detail .total-header .check .iconify {
  margin-left: 5px;
}
/* line 215, ../sass/cart.scss */
#mob-buy #detail #total-list ul {
  padding: 15px 0 0;
  margin: 0;
}
/* line 218, ../sass/cart.scss */
#mob-buy #detail #total-list ul li {
  display: block;
  list-style: none;
}
/* line 221, ../sass/cart.scss */
#mob-buy #detail #total-list ul li .title, #mob-buy #detail #total-list ul li .price {
  font-weight: normal;
  line-height: 1.1;
}
/* line 225, ../sass/cart.scss */
#mob-buy #detail #total-list ul li .title {
  display: inline-block;
  width: 65%;
  margin-bottom: 1px;
  text-align: right;
  font-size: 0.9rem;
}
/* line 232, ../sass/cart.scss */
#mob-buy #detail #total-list ul li .price {
  float: right;
  color: #231815;
  font-size: 0.95rem;
}
/* line 241, ../sass/cart.scss */
#mob-buy .act-btns {
  display: inline-block;
  width: 100%;
  padding-bottom: 5px;
}
/* line 245, ../sass/cart.scss */
#mob-buy .act-btns li {
  width: 70%;
  float: left;
}
/* line 248, ../sass/cart.scss */
#mob-buy .act-btns li:first-of-type {
  width: 30%;
  padding-right: 15px;
  margin-right: 0;
}
/* line 253, ../sass/cart.scss */
#mob-buy .act-btns li .btn {
  width: 100%;
  padding: 8px 15px;
}
@media screen and (min-width: 992px) {
  /* line 167, ../sass/cart.scss */
  #mob-buy {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  /* line 264, ../sass/cart.scss */
  #mob-buy .act-btns li {
    width: 65%;
    float: left;
  }
  /* line 267, ../sass/cart.scss */
  #mob-buy .act-btns li:first-of-type {
    width: 35%;
  }
}
@media screen and (max-width: 350px) {
  /* line 275, ../sass/cart.scss */
  #mob-buy .act-btns li {
    width: 60%;
    float: left;
  }
  /* line 278, ../sass/cart.scss */
  #mob-buy .act-btns li:first-of-type {
    width: 40%;
  }
}

@media screen and (max-width: 991px) {
  /* line 286, ../sass/cart.scss */
  #total-block, #act-btns {
    display: none;
  }

  /* line 289, ../sass/cart.scss */
  .gototop {
    bottom: 150px;
  }
}
@media screen and (max-width: 767px) {
  /* line 296, ../sass/cart.scss */
  #header .navbar .logo a, #header .navbar .navbar-collapse, #header .navbar .navbar {
    display: none;
  }
  /* line 299, ../sass/cart.scss */
  #header .navbar .logo {
    width: 100%;
  }
  /* line 301, ../sass/cart.scss */
  #header .navbar .logo .d-md-none {
    display: inline-block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
  }
  /* line 307, ../sass/cart.scss */
  #header .navbar .logo .d-md-none li {
    display: block;
    width: 33.33%;
    color: #7C7C7C;
    float: left;
  }
  /* line 312, ../sass/cart.scss */
  #header .navbar .logo .d-md-none li .iconify {
    margin-right: 5px;
  }
  /* line 315, ../sass/cart.scss */
  #header .navbar .logo .d-md-none li:first-of-type {
    padding-left: 7px;
    cursor: pointer;
  }
  /* line 319, ../sass/cart.scss */
  #header .navbar .logo .d-md-none li.title {
    text-align: center;
    font-weight: bold;
    font-size: 1.75rem;
  }
  /* line 324, ../sass/cart.scss */
  #header .navbar .logo .d-md-none li:last-of-type {
    text-align: right;
    padding-right: 7px;
    cursor: pointer;
  }

  /* line 334, ../sass/cart.scss */
  .gototop {
    display: none;
  }
}
@media screen and (max-width: 576px) {
  /* line 342, ../sass/cart.scss */
  #delivery-form .card:first-of-type .card-body .form-group .control-label {
    display: block;
    width: 100%;
    margin-bottom: 0.25rem;
  }
}
/* line 5, ../sass/modal.scss */
.modal .modal-content .modal-header {
  padding: 0.75rem 1rem;
}
/* line 9, ../sass/modal.scss */
.modal .modal-content .modal-footer #close {
  margin-right: 30px;
}
@media screen and (min-height: 768px) {
  /* line 16, ../sass/modal.scss */
  .modal.show .modal-dialog {
    -moz-transform: translate(0, 50%);
    -o-transform: translate(0, 50%);
    -ms-transform: translate(0, 50%);
    -webkit-transform: translate(0, 50%);
    transform: translate(0, 50%);
  }
}
